* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --primary-color: #c1d7c6;
  --secondary-color: #c3d1e4;
}

img {
  width: 100%;
}
ul {
  list-style: none;
}
body {
  position: relative;
}
/*MAIN SECTION*/
.main-section {
  min-height: 100vh;
  display: grid;
  padding: 2rem;
  align-content: space-between;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1560493676-04071c5f467b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
  background-repeat: no-repeat;
  color: var(--primary-color);
  background-size: cover;
}
/*MAIN SECTION HEADER*/
.main-section__header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  place-items: start;
}

.main-section__header a {
  text-decoration: none;
  color: var(--primary-color);
}
/*MAIN SECTION HEADER LOGO AND FARM NAME*/
.main-section__header__farm-name {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  gap: 0.8rem;
  padding: 0.5rem 1rem;
  font-size: larger;
}
.main-section__header__farm-name__logo {
  width: 50px;
}
/*MAIN SECTION HEADER NAVIGATION*/
.main-section__header__nav__list-items {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  padding: 1rem;
  gap: 2rem;
  font-size: larger;
  justify-content: end;

  transition: text-decoration 300ms;
}
/* .main-section__header__mobile {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
.main-section__header__mobile {
  display: none;
} */
.main-section__header__nav__list-items :hover {
  text-decoration: underline;
}
.main-section__header__nav__list-items :active {
  color: #949438;
}
/*MAIN SECTION CONTENT*/
.main-section__text {
  display: grid;
  gap: 1.5rem;
  padding: 2rem;
  text-align: center;
}
.main-section__text__title {
  font-size: 44px;
}
.main-section__text__subtitle {
  font-size: 20px;
}
.expand {
  text-align: center;
  color: var(--primary-color);

  animation: arrowHover 3s infinite linear;
}
/*OUR PRODUCTS SECTION*/
.our-products {
  position: relative;
  background-color: var(--secondary-color);
  display: grid;

  min-height: 100vh;
  padding: 1rem;
  justify-content: center;
}
/*OUR PRODUCTS SECTION TITLE*/
.our-products__title {
  text-align: center;
  padding: 2rem;
  color: #174024;
  font-size: 30px;
  font-weight: 400;
  display: grid;
  place-content: center;
}
/*OUR PRODUCTS SECTION CONTENT*/
.our-products__list-items {
  gap: 0.5rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;

  /* max-height: 100vh;  */
}
.list-item {
  display: grid;
  height: 300px;
  width: 220px;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: #eeeeff;
  position: relative;
  max-height: 70vh;

  border-radius: 5px;
}
.list-item:hover {
  transform: scale(1.02) #145230;
  box-shadow: 0 0 5px 0;
}
.list-item {
  text-decoration: none;
  color: #174024;
}

.title {
  font-size: 20px;
  font-weight: 400;
;
}

.list-item__coming-soon {
  /* background-color: #5258cb; */
  background-color: #32c373;
  position: absolute;
  right: -0.1rem;
  top: -1.6rem;

  color: white;
  padding: 0.2rem 0.5rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.list-item__picture {
  margin-top: 25px;
  width: 150px;
}
.title {
  height: 50px;
  padding: 1rem;
  border-radius: 5px;
}
/*ABOUT THE PRODUCTS SECTION*/
.about-the-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  background-color: white;
}
.about-berry__picture {
  padding: 2rem;
  border-radius: 40px;
}
/*ABOUT THE PRODUCTS TEXT SECTION*/
.text {
  padding: 2rem;
  display: grid;
  gap: 0.5rem;
  line-height: 1.5rem;
}

.about-the-product-item__title {
  color: #002e5e;
}
.about-the-product-item__subtitle {
  color: #ce130d;
}
.about-the-product-item__opening-hours {
  line-height: 0.8rem;
}
/*ABOUT THE PRODUCTS SECTION BUTTON*/
.book-now {
  height: 50px;
  width: 120px;
  font-size: 14px;
  background-color: #32c373;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;

  transition: background-color 300ms;
}
.book-now:hover {
  color: #32c373;
  background-color: white;
  border: 2px solid #32c373;
}
.book-now:active {
  color: #ce130d;
  background-color: white;
  border: 2px solid #ce130d;
}
/*TESTIMONIALS SECTION*/
.testimonials {
  display: grid;
  /* grid-template-rows: auto 1fr; */
  min-height: 100vh;
  background-color: var(--secondary-color);
  color: #145230;
  place-items: center;
  place-content: center;
  justify-content: center;
  padding: 2rem;
}
.testimonial-title {
  text-align: center;
  padding: 2rem;
  font-size: 25px;
  font-weight: 400;
}
.testimonial-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  gap: 3em;
}
.testimonial-item {
  display: grid;
  /* grid-auto-flow: row; */
  background-color: #eeeeff;

  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: 3px;
  height: 350px;
  width: 250px;
  place-content: start;

  transition: all 300ms;
}
.testimonial-item:hover {
  width: 260px;
  height: 360px;
}

.testimonial__picture {
  border-radius: 5px;
}
.testimonial__text {
  line-height: 1rem;
}
.testimonial__text {
  font-style: italic;
}
/*FOOTER SECTION*/
.footer {
  background-color: var(--primary-color);
  color: #174024;
}
/*FOOTER CONTAINER*/
.footer__container {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 10rem;
  padding: 3rem;
  line-height: 1.4;
}
/*FOOTER ITEMS*/
.footer-items__title {
  line-height: 2;
}
.footer__farm-location {
  /* padding: 1rem; */
  line-height: 25px;
}
.footer__farm-location__icon {
  text-align: center;
}
.footer__subscribe {
  display: grid;
  grid-auto-flow: row;
}
.footer a {
  text-decoration: none;
  color: #174024;
}
.footer-item:hover {
  text-decoration: underline;
}
/*FOOTER SUBSCRIBE BOX*/
.footer__subscribe {
  display: grid;
  grid-auto-flow: row;
  gap: 0.7rem;
  padding: 1rem;
  width: 200px;
  height: 160px;
  background-color: #b1cdc2;
  border-radius: 9px;
  color: rgb(65, 65, 65);
  box-shadow: 5px 10px #b3c6b9;
}
/*FOOTER INPUT EMAIL */
input {
  border-style: none;
  padding: 0.3rem;
  width: 150px;
  background-color: #b1cdc2;
  border-bottom: 1px solid rgb(65, 65, 65);
}
/*FOOTER BUTTON*/
.subscribe__button {
  background-color: #b1cdc2;
  width: 100px;
  height: 30px;
  font-weight: 600;
  border: 2px solid rgb(65, 65, 65);
  border-radius: 4px;
  padding: 0.3rem;
  color: rgb(65, 65, 65);
}
/*SOICAL MEDIA ICONS*/
.footer__social-media {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
}
.social-media-logo {
  width: 25px;
}
/*KEYFRAMES*/
@keyframes arrowHover {
  50% {
    transform: translateY(10px);
  }
}
/*MEDIA QUERIES*/

/* @media screen and (max-width: 800px) {
  .main-section__header {
    display: none;
  }

  .main-section__header__mobile {
    display: inline-block;
  
  }
} */
/*HEADER*/
@media screen and (max-width: 950px) {
  .main-section__header__farm-name {
    font-size: large;
  }
  .main-section__header__nav__list-items {
    font-size: large;
  }
  .main-section__text__title {
    font-size: 35px;
  }
  .main-section__text__subtitle {
    font-size: 18px;
  }
}
/*OUR PRODUCTS*/
@media screen and (max-width: 990px) {
  .our-products__list-items {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
@media screen and (max-width: 580px) {
  .our-products__list-items {
    grid-template-columns: 1fr;
    /* gap: 4rem; */
  }
  .our-products__title {
    font-size: 25px;
  }
}
/*ABOUT THE PRODUCTS*/
@media screen and (max-width: 1000px) {
  .about-the-products {
    grid-template-columns: 1fr;
  }
}
/*TESTIMONIALS*/
@media screen and (max-width: 1000px) {
  .testimonial-container {
    grid-template-columns: 1fr 1fr;
    /* justify-content: center; */
  }
}
@media screen and (max-width: 650px) {
  .testimonial-container {
    grid-template-columns: 1fr;
  }
}
/*FOOTER*/
@media screen and (max-width: 950px) {
  .footer__container {
    gap: 5rem;
  }
}
@media screen and (max-width: 750px) {
  .footer__container {
    gap: 2rem;
  }
}
@media screen and (max-width: 750px) {
  .footer__container {
    gap: 1rem;
  }
}
