body {
  font-family: sans-serif;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #eeeeff;
}

.container {
  display: grid;
  place-items: center;
  min-height: 40vh;
  grid-auto-flow: row;
  place-content: center;
  background-color: white;
  width: 300px;
  height: 400px;
  border-radius: 5px;
}
h1 {
  text-align: center;
  font-size: larger;
  color: #8e3e76;
}
a {
  text-decoration: none;
  color: #8e3e76;
}
a:active {
  color: royalblue;
}
